.stage {
    width: 100%;
    margin: auto;
}

.wrapper {
    position: relative;
    padding-top: 56.25%
}

.player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.question {
    font-weight: bold;
    margin: 10px 0;
    padding: 5px;
}

.choice {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #eaeaea;
    color: #212529;
    font-weight: normal;
    border-radius: 5px;
    cursor: pointer;
}

.choiced {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    background-color: #DA2340;
    color: #eaeaea;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.choice:hover {
    background-color: #DA2340;
    color: #eaeaea;
    font-weight: bold;
}
